.event{
    background-color: $offWhite;
    padding: 0.1rem;
    .event__container{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10rem;
        .event__schedule{
            font-family: Poppins;
            width: 25%;
            flex-grow: 1;
            ul{
                padding-left: 0;
                list-style: none;
                li{
                    background-color: $white;
                    padding: 1rem 3rem;
                    border: 1px solid $stupidGrey;
                    border-bottom: 0px;
                    transition: all 0.3s ease;
                }
                li:last-child{
                    border-bottom: 1px solid $stupidGrey;
                }
                li:hover{
                    background-color: $secondary;
                    p{
                        color: white;
                    }
                }
                p{
                    color:  $black;
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin: 0;
                }
                .small-date{
                    color: $greyPLight;
                    font-size: 1.3rem;
                    line-height: 2.6rem;
                    text-align: left;
                    font-weight: 400;
                }
            }
        }
        .dotted{
            margin: 0 1rem 0 4rem;
            padding: 1rem;
            max-width: 2rem;
            border-left: 1px dashed $stupidGrey;
            border-top: 1px dashed $stupidGrey;
            border-bottom: 1px dashed $stupidGrey;
        }
        .dotted--top{
            height: 120px;
        }
        .dotted--bottom{
            border-top: 0px;
            height: 120px;
        }
        .event__speaker{
            width: 60%;
            flex-grow: 3;
        }
        .event__speaker__topic{
            flex-grow: 1;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .speaker-img{
                align-items: center;
                max-width: 15rem;
                margin: 1.5rem;
                img{
                    border: 1rem solid $eventImgBorder;
                    border-radius: 50%;
                    width: 100%;
                    transition: all 0.3s ease;
                }
            }
            .speaker-info{
                flex-grow: 1;
                .name{
                    font-family: Raleway;
                    color: $black;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 2.8rem;
                    margin: 0.3rem 0;
                    
                }
                .time{
                    font-family: Raleway;
                    color: $greyP;
                    font-size: 1.3rem;
                    font-weight: 400;
                    padding-left: 1rem;
                }
                .title{
                    font-family: Raleway;
                    font-size: 18px;
                    line-height: 28px;
                    margin: 0;
                }
                .description{
                    color:  $greyP;
                    font-size: 1.3rem;
                    line-height: 2.4rem;
                    margin: 0.3rem 0;
                }
            }
        }
        .event__speaker__topic:hover img{
            border: 0.5rem solid $white;
            box-shadow: 0 0 1rem $offWhite;
            transform: scale(1.2);
        }
    }
}

@media (max-width: 950px){
    .event{
        .event__container{
            display: block;
            .dots{
                display: none;
            }
            .event__schedule{
                width: 100%;
                ul{
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    li{
                        display: inline-block;
                        border-bottom: 1px solid $stupidGrey;
                    }
                }
            }

            .event__speaker{
                width: 100%;
                .event__speaker__topic{
                    // display: block;
                    border: 1px dashed $stupidGrey;
                    padding: 2rem;
                    margin: 2rem 0;
                    width: 100%;
                    .speaker-img{
                        width: 8rem;
                        margin: 0 1rem;
                        min-width: 8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 690px){
    .event{
        .event__container{
            .event__schedule{
                ul{
                    width: 100%;
                    display: block;
                    li{
                        display: block;
                        border-bottom: 0px;
                    }
                }
            }
            .event__speaker{
                .event__speaker__topic{
                    display: block;
                    .speaker-img{
                        width: 8rem;
                        margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

@media(max-width:900px){
    .event{
        .event__container{
            margin-bottom: 5rem;
        }
    }
}

@media(max-width:480px){
    .event{
        .event__container{
            margin-bottom: 2rem;
        }
    }
}