.news{
    .wrapper{
        padding: 1px;
    }
    .btn{
        margin: 0 auto;
    }
    h4{
        font-family: Raleway;
        color: $black;
        font-size: 2.2rem;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    .author{
        color:  $greyPLight;
        font-size: 1.3rem;
    }
    .author::after{
        content: '';
        border-bottom: 1px solid $greyPLight;
        height: 1px;
        display: block;
        width: 5rem;
        margin: 0.5rem 0 1rem 0;
    }
    p{
    font-size: 14px;
    }
}
.col-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-max(100px, auto);
    grid-gap: 2rem; 
    margin-bottom: 10rem;
}
.news__container{
    min-height: 301px;
    background-color: $offWhite;
    .text{
        padding: 5.5rem 3rem;
        vertical-align: middle;
    }
    img{
        max-width: 100%;
    }
}
.news__container--1{
    grid-column: 1/3;
    display: flex;
    flex-flow: row;
    img{
        margin-right: 2rem;
    }
}

.news__container--2{
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
    img{
        margin-bottom: 2rem;
    }
    .btn{
        text-align: left;
        display: inline-block;
        position: absolute;
        bottom: 5.5rem;
        left: 3rem;
    }
}
.news__container--fb{
    background: linear-gradient(180deg, $primary 50%, $offWhite 50%);
    position: relative;
    .fa-link{
        font-size: 3rem;
        display: block;
        margin: 1rem auto;
    }
    // a[href="http://www.facebook.com"]
    .link-text{
        font-family: Raleway;
        font-size: 18px;
        line-height: 26px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline-block;
    }
    .links{
        text-align: center;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .btn{
        text-align: left;
        display: inline-block;
        position: absolute;
        bottom: 5.5rem;
        left: 3rem;
    }
}

@media (max-width:1300px){
    .col-3{
        grid-template-columns: repeat(2, 1fr);
    }
    .news__container{
        img{
            width: 100%;
        }
    }
    .news__container--1{
        display: block;
        grid-column: 1;
    }
    .news__container--2{
        grid-column: 2;
        grid-row: 1;
        img{
        margin-bottom: 0;
        }
    } 
}

@media (max-width: 655px){
    .col-3{
        display: block;
    }
    .news__container--2{
    position: relative;
        .btn{
            text-align: left;
            position: static;
        }
    }
    .news__container{
        margin: 2rem 0;
    }
    .news__container--3{
        min-height: 201px;
    }
}