.quote{
    background-color: $primary;
    padding: 1px;
    .wrapper{
        padding: 10rem 0;
        display: flex;
        flex-flow: row wrap;
        .quote__pictures{
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
            width: 5%;
            height: auto;
            margin-right: 2rem;
            img{
                width: calc(100% - 5px);
                box-sizing: content-box;
                height: auto;
                border-radius: 50%;
                border: 5px solid transparent;
                transition: all 0.3s ease;
            }
            img:hover{
                border: 10px solid $white;
            }
        }
        .quote__pictures:first-child{
            margin-top: -5px;
        }
        .quote__text{
            width: 45%;
            color: $white;
            p{
                color: $white;
            }
            &--smart{
                font-family: PlantagenetCherokee;
                color:  $white;
                font-size: 110px;
                margin: 0rem 2rem;
                height: auto;
                line-height: 113px;
            }
            &--title{
                font-family: 'Raleway', sans-serif;
                font-size: 3rem;
                font-weight: 700;
                line-height: 4.6rem;
                margin-top: 0;
            }
            blockquote{
                font-family: 'Poppins', sans-serif;
                color:  #bfb9f6;
                font-size: 1.7rem;
                font-style: italic;
                line-height: 2.8rem;
                margin: 0;
            }
            p{
                font-family: Poppins;
                color:  #bfb9f6;
                font-size: 17px;
                font-style: italic;
                line-height: 28px;
                span{
                    color:  #fafafa;
                    font-family: Poppins;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 28px;
                    font-style: normal;
                }
            }
        }
    }
}