article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-size: 1.6rem; }

p {
  font-family: 'Poppins', sans-serif;
  color: #777777;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px; }

.section__title {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 3.6rem;
  text-align: center;
  margin-top: 10rem; }

.section__subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  font-style: italic;
  line-height: 26px;
  text-align: center; }

.section__subtitle::after {
  content: "";
  display: block;
  border-bottom: 1px solid #e85889;
  width: 5rem;
  margin: 2.5rem auto 4rem auto; }

.txt--uppercase {
  text-transform: uppercase; }

.txt--lowercase {
  text-transform: lowercase; }

html {
  font-size: 62.5%; }

.theme--dark {
  color: #FFF; }

.theme--light {
  color: #222222; }

.wrapper {
  max-width: 61%;
  margin: 0 auto; }

.btn {
  display: inline-block;
  color: #FFF;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 5px; }

.btn--primary {
  background: #e85889; }

.btn--secondary {
  background: #463f8c; }

@media (max-width: 1500px) {
  .wrapper {
    max-width: 80%; } }

@media (max-width: 1100px) {
  .wrapper {
    max-width: 90%; } }

.main-header {
  background: url(../images/main-image.png) no-repeat, center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main-header__hero {
    text-align: center;
    padding: 6rem 0rem;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-header__hero p {
      color: #FFF; }
    .main-header__hero__call-to-action--date {
      font-family: Poppins;
      font-size: 2.2rem;
      font-style: italic;
      line-height: 2.6rem; }
    .main-header__hero h1 {
      font-family: Raleway;
      font-size: 4.4rem;
      font-weight: 800;
      line-height: 5rem;
      max-width: 700px; }
  .main-header__hero__call-to-action__scroll {
    background-color: rgba(255, 255, 255, 0.22);
    color: #FFF;
    font-size: 1.5rem;
    text-decoration: none;
    height: 60px;
    padding: 0 0.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main-header__hero__call-to-action__scroll--left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .main-header__hero__call-to-action {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-bottom: 2rem; }
  .main-header__hero__call-to-action__scroll--right {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }

@media (max-width: 510px) {
  .main-header {
    height: 600px; }
  .main-header__hero {
    padding: 1rem; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 4px double rgba(255, 255, 255, 0.22);
  font-size: 1.6rem; }
  .nav img {
    max-width: 100px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }
  .nav__list li {
    -ms-flex-line-pack: center;
    align-content: center; }
    .nav__list li a {
      padding: 1rem 1rem;
      color: #FFF;
      text-decoration: none; }
  .nav__list .nav__list__item--pinkBG {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #e85889;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #FFF; }

.date {
  background-color: #fafafa; }
  .date__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 6rem 0;
    margin-top: 0.5rem; }
  .date .date__subtitle {
    font-family: Poppins;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin: 0; }
  .date .date__title {
    font-family: Raleway;
    color: #222222;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.3rem;
    margin: 0;
    max-width: 250px;
    margin-top: 0.5rem; }
  .date__container__counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 0.5rem; }
    .date__container__counter p {
      margin: 0; }
    .date__container__counter span {
      font-family: Poppins;
      background: #333333;
      border-radius: 0.3rem;
      color: #FFF;
      width: 3.7rem;
      height: 4.5rem;
      display: inline-block;
      line-height: 4.5rem;
      text-align: center;
      margin-right: 4px;
      margin-bottom: 4px; }
    .date__container__counter .colon {
      line-height: 3rem;
      margin: 0.7rem;
      display: inline; }
    .date__container__counter__container__counter__cell:nth-child(2) {
      font-family: Raleway;
      line-height: 2.6rem;
      text-align: left; }
  .date__container__btn {
    margin-top: 0.5rem; }
    .date__container__btn .btn {
      margin-left: 1rem; }

@media (max-width: 1400px) {
  .date__container__btn .btn {
    margin-left: 0;
    margin-top: 0.5rem; } }

.about {
  background: #FFF; }
  .about__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-bottom: 10rem; }
    .about__article article {
      width: calc((96%)/3);
      margin-right: 2%;
      -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
      box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .about__article article:last-child {
      margin-right: 0; }
    .about__article article:hover {
      -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
      box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      z-index: 1; }
    .about__article h3 {
      padding: 0 2rem;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      text-align: left; }
    .about__article p {
      padding: 0 2rem;
      font-size: 1.4rem; }
    .about__article a {
      padding: 1rem 2rem 2rem 2rem;
      text-decoration: none;
      color: #463f8c;
      font-family: Poppins;
      display: inline-block;
      font-style: italic; }
    .about__article a:hover {
      color: #e85889; }
    .about__article img {
      width: 100%; }

.join {
  background: url(../images/purple-pattern-bg.png) no-repeat, center;
  background-size: cover;
  padding: 1px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .join p {
    color: #FFF;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center; }
  .join form {
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3rem 0 10rem 0; }
    .join form input[type=text] {
      background: transparent;
      border: 1px solid #FFF;
      padding: 1rem 1rem;
      border-radius: 5px 0px 0px 5px;
      display: block;
      color: #FFF;
      width: 300px; }
    .join form input[type=text]::-webkit-input-placeholder {
      color: #FFF; }
    .join form input[type=text]:-ms-input-placeholder {
      color: #FFF; }
    .join form input[type=text]::-ms-input-placeholder {
      color: #FFF; }
    .join form input[type=text]::placeholder {
      color: #FFF; }
    .join form input[type=submit] {
      display: block;
      border-radius: 0px 5px 5px 0px;
      border: 1px solid #e85889; }

@media (max-width: 480px) {
  .join form {
    display: block; }
    .join form input[type=text] {
      border-radius: 5px;
      margin-bottom: 1rem; }
    .join form input[type=submit] {
      border-radius: 5px; } }

.speakers {
  background: #FFF; }
  .speakers__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .speakers__container figure {
      -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
      box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .speakers__container figure .speakers__container__img {
        position: relative; }
        .speakers__container figure .speakers__container__img img {
          border-radius: 5px 5px 0 0;
          display: block;
          max-width: 100%; }
        .speakers__container figure .speakers__container__img .icons {
          position: absolute;
          bottom: 35px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row;
          flex-flow: row;
          display: none; }
        .speakers__container figure .speakers__container__img a {
          text-decoration: none; }
        .speakers__container figure .speakers__container__img .icon {
          z-index: 1;
          bottom: 5px;
          left: 1px;
          background-color: rgba(0, 0, 0, 0.55);
          border-radius: 50%;
          width: 30px;
          height: 30px;
          color: #FFF;
          padding: 0.5rem;
          margin: 0.5rem;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .speakers__container figure .speakers__container__img .icon:hover {
          background-color: #e85889; }
      .speakers__container figure figcaption {
        text-align: center;
        padding: 1px; }
        .speakers__container figure figcaption h4 {
          font-family: Raleway;
          font-weight: 600;
          text-align: center;
          margin: 2rem 0 0 0; }
        .speakers__container figure figcaption p {
          font-size: 1.3rem;
          line-height: 2.2rem; }
    .speakers__container figure:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01); }
      .speakers__container figure:hover figcaption {
        color: #FFF;
        background-color: #463f8c;
        border-radius: 0 0 5px 5px; }
        .speakers__container figure:hover figcaption p {
          color: white; }
      .speakers__container figure:hover .icons {
        display: block; }

.speaker__page--scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row;
  flex: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3rem 0 10rem 0; }
  .speaker__page--scroll div {
    width: 15px;
    height: 15px;
    background-color: #463f8c;
    border-radius: 50%;
    margin: 0.3rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .speaker__page--scroll a {
    border: 1px double transparent;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .speaker__page--scroll a:hover {
    border: 1px double #e85889;
    border-radius: 50%; }
    .speaker__page--scroll a:hover div {
      background-color: #e85889;
      padding: 2px; }

.pricing {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #FFF)), url(../images/pricing-image.png) no-repeat, center;
  background: -webkit-linear-gradient(top, transparent 50%, #FFF 50%), url(../images/pricing-image.png) no-repeat, center;
  background: -o-linear-gradient(top, transparent 50%, #FFF 50%), url(../images/pricing-image.png) no-repeat, center;
  background: linear-gradient(180deg, transparent 50%, #FFF 50%), url(../images/pricing-image.png) no-repeat, center;
  padding: 1px 1px 10rem 1px;
  background-attachment: fixed; }
  .pricing .section__subtitle {
    color: #FFF; }
  .pricing__container {
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.03); }
    .pricing__container__price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      background-color: #fafafa;
      margin: 2%;
      padding: 4rem 0 6rem 0;
      width: calc(92%/3); }
      .pricing__container__price:nth-child(2) {
        margin: 2% 0; }
      .pricing__container__price img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1; }
      .pricing__container__price .best {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #FFF;
        text-align: center; }
      .pricing__container__price h3 {
        color: #222222;
        font-family: Raleway;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.6rem;
        text-align: center;
        margin-bottom: 0; }
      .pricing__container__price p {
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center; }
      .pricing__container__price .pricing-subtitle::after {
        content: "";
        display: block;
        border-bottom: 1px solid #463f8c;
        width: 5rem;
        margin: 2.5rem auto 0.5rem auto; }
      .pricing__container__price--dollar {
        color: #222222;
        font-size: 3.6rem; }
      .pricing__container__price--price {
        color: #222222;
        font-size: 4rem;
        font-weight: 500; }
      .pricing__container__price .price-num {
        padding: 2rem 0; }
      .pricing__container__price ul {
        padding: 0;
        width: 100%;
        margin: 0; }
      .pricing__container__price li {
        border-top: 1px dashed #e0e0e0;
        font-family: Poppins;
        color: #777777;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 3.8rem;
        text-align: left;
        list-style: none;
        padding-left: 15%;
        padding-top: 8px;
        padding-bottom: 8px; }
      .pricing__container__price .btn {
        margin: 1.5rem auto 0 auto;
        justify-self: center; }

.event {
  background-color: #fafafa;
  padding: 1px; }
  .event .event__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10rem; }
    .event .event__container .event__schedule {
      font-family: Poppins;
      width: 25%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .event .event__container .event__schedule ul {
        background-color: #FFF;
        padding-left: 0;
        list-style: none; }
        .event .event__container .event__schedule ul li {
          padding: 1rem 3rem;
          border: 1px solid #e0e0e0;
          border-bottom: 0px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .event .event__container .event__schedule ul li:last-child {
          border-bottom: 1px solid #e0e0e0; }
        .event .event__container .event__schedule ul li:hover {
          background-color: #e85889; }
          .event .event__container .event__schedule ul li:hover p {
            color: white; }
        .event .event__container .event__schedule ul p {
          color: #222222;
          font-size: 1.8rem;
          font-weight: 500;
          margin: 0; }
        .event .event__container .event__schedule ul .small-date {
          color: #ababab;
          font-size: 1.3rem;
          line-height: 2.6rem;
          text-align: left;
          font-weight: 400; }
    .event .event__container .dotted {
      margin: 0 1rem 0 4rem;
      padding: 10px;
      height: 130px;
      max-width: 20px;
      border-left: 1px dashed #e0e0e0;
      border-top: 1px dashed #e0e0e0; }
    .event .event__container .dotted--top {
      border-bottom: 1px dashed #e0e0e0; }
    .event .event__container .dotted--bottom {
      border-bottom: 1px dashed #e0e0e0; }
    .event .event__container .event__speaker {
      width: 60%;
      -webkit-box-flex: 3;
      -ms-flex-positive: 3;
      flex-grow: 3; }
    .event .event__container .event__speaker__topic {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .event .event__container .event__speaker__topic .speaker-img {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 15rem;
        margin: 1rem; }
        .event .event__container .event__speaker__topic .speaker-img img {
          border: 1rem solid #fff2f2;
          border-radius: 50%;
          width: 100%; }
      .event .event__container .event__speaker__topic .speaker-info {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .event .event__container .event__speaker__topic .speaker-info .name {
          font-family: Raleway;
          color: #222222;
          font-size: 14px;
          font-weight: 500;
          line-height: 28px;
          margin: 0.3rem 0; }
        .event .event__container .event__speaker__topic .speaker-info .time {
          font-family: Raleway;
          color: #777777;
          font-size: 13px;
          font-weight: 400;
          padding-left: 1rem; }
        .event .event__container .event__speaker__topic .speaker-info .title {
          font-family: Raleway;
          font-size: 18px;
          line-height: 28px;
          margin: 0; }
        .event .event__container .event__speaker__topic .speaker-info .description {
          color: #666666;
          font-size: 13px;
          line-height: 24px;
          margin: 0.3rem 0; }

.quote {
  background-color: #463f8c;
  padding: 1px; }
  .quote .wrapper {
    padding: 10rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .quote .wrapper .quote__pictures {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 5%;
      height: auto;
      margin-right: 2rem; }
      .quote .wrapper .quote__pictures img {
        width: calc(100% - 5px);
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: auto;
        border-radius: 50%;
        border: 5px solid transparent;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .quote .wrapper .quote__pictures img:hover {
        border: 10px solid #FFF; }
    .quote .wrapper .quote__pictures:first-child {
      margin-top: -5px; }
    .quote .wrapper .quote__text {
      width: 45%;
      color: #FFF; }
      .quote .wrapper .quote__text p {
        color: #FFF; }
      .quote .wrapper .quote__text--smart {
        font-family: PlantagenetCherokee;
        color: #FFF;
        font-size: 110px;
        margin: 0rem 2rem;
        height: auto;
        line-height: 113px; }
      .quote .wrapper .quote__text--title {
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: 4.6rem;
        margin-top: 0; }
      .quote .wrapper .quote__text blockquote {
        font-family: 'Poppins', sans-serif;
        color: #bfb9f6;
        font-size: 1.7rem;
        font-style: italic;
        line-height: 2.8rem;
        margin: 0; }
      .quote .wrapper .quote__text p {
        font-family: Poppins;
        color: #bfb9f6;
        font-size: 17px;
        font-style: italic;
        line-height: 28px; }
        .quote .wrapper .quote__text p span {
          color: #fafafa;
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
          font-style: normal; }

.news .wrapper {
  padding: 1px; }

.news img {
  max-width: 100%; }

.news .btn {
  margin: 0 auto; }

.news h4 {
  font-family: Raleway;
  color: #222222;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem; }

.news .author {
  color: #ababab;
  font-size: 1.3rem; }

.news .author::after {
  content: '';
  border-bottom: 1px solid #ababab;
  height: 1px;
  display: block;
  width: 5rem;
  margin: 0.5rem 0 1rem 0; }

.news p {
  font-size: 14px; }

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-max(100px, auto);
  grid-gap: 2rem;
  margin-bottom: 10rem; }

.news__container {
  min-height: 301px;
  background-color: #fafafa; }
  .news__container .text {
    padding: 5.5rem 3rem;
    vertical-align: middle; }
  .news__container img {
    width: 100%; }

.news__container--1 {
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row; }
  .news__container--1 img {
    margin-right: 2rem; }

.news__container--2 {
  grid-column: 3/4;
  grid-row: 1/3;
  position: relative; }
  .news__container--2 img {
    margin-bottom: 2rem; }
  .news__container--2 .btn {
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 5.5rem;
    left: 3rem; }

.news__container--fb {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #463f8c), color-stop(50%, #fafafa));
  background: -webkit-linear-gradient(top, #463f8c 50%, #fafafa 50%);
  background: -o-linear-gradient(top, #463f8c 50%, #fafafa 50%);
  background: linear-gradient(180deg, #463f8c 50%, #fafafa 50%);
  position: relative; }
  .news__container--fb .fa-link {
    font-size: 3rem;
    display: block;
    margin: 1rem auto; }
  .news__container--fb .link-text {
    font-family: Raleway;
    font-size: 18px;
    line-height: 26px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block; }
  .news__container--fb .links {
    text-align: center; }
  .news__container--fb a {
    color: white;
    text-decoration: none; }
  .news__container--fb .btn {
    text-align: left;
    display: inline-block;
    position: absolute;
    bottom: 5.5rem;
    left: 3rem; }

@media (max-width: 1300px) {
  .col-3 {
    grid-template-columns: repeat(2, 1fr); }
  .news__container--1 {
    display: block;
    grid-column: 1; }
  .news__container--2 {
    grid-column: 2;
    grid-row: 1; }
    .news__container--2 img {
      margin-bottom: 0; } }

@media (max-width: 655px) {
  .col-3 {
    display: block; }
  .news__container--2 {
    position: relative; }
    .news__container--2 .btn {
      text-align: left;
      position: static; }
  .news__container {
    margin: 2rem 0; } }

.newsletter {
  background: url(../images/white-pattern-bg.png) no-repeat, center;
  background-size: cover;
  padding: 1px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .newsletter p {
    color: #FFF;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center; }
  .newsletter form {
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3rem 0 10rem 0; }
    .newsletter form input[type=text] {
      background: #FFF;
      border: 1px solid #FFF;
      padding: 1rem 1rem;
      border-radius: 5px 0px 0px 5px;
      display: block;
      width: 300px; }
    .newsletter form input[type=submit] {
      display: block;
      border-radius: 0px 5px 5px 0px;
      border: 1px solid #e85889; }

@media (max-width: 480px) {
  .newsletter form {
    display: block; }
    .newsletter form input[type=text] {
      border-radius: 5px;
      margin-bottom: 1rem; }
    .newsletter form input[type=submit] {
      border-radius: 5px; } }

footer {
  background: #1b1b1b;
  color: #FFF; }
  footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  footer .contact__container {
    padding: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .contact__container .icon {
      font-size: 4rem;
      width: 5rem;
      height: 5rem;
      background: #2f2f2f;
      border-radius: 50%;
      padding: 10px;
      margin-right: 5rem; }
    footer .contact__container p {
      font-family: Poppins;
      color: #ababab;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      margin: 0.2rem 0; }
  footer .after::after {
    content: "";
    display: inline-block;
    height: 50px;
    width: 1px;
    background: #2f2f2f;
    margin-left: 7rem; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #100f0f;
  color: #FFF;
  display: block;
  margin: 0 auto; }
  .arrow-up .fa-angle-up {
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    margin-left: -5px;
    padding: 0; }

.footer-menu {
  background-color: #100f0f;
  text-align: center;
  padding-bottom: 5rem; }
  .footer-menu img {
    margin-top: 3rem;
    max-width: 10rem; }
  .footer-menu ul {
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #1b1b1b;
    width: 60%;
    margin: 0 auto; }
  .footer-menu li {
    display: inline-block;
    padding: 1rem 0; }
  .footer-menu a {
    text-decoration: none;
    font-family: Poppins;
    color: #FFF;
    font-size: 14px;
    line-height: 28px;
    padding: 1rem 2rem; }
  .footer-menu a:hover {
    color: #e85889; }
  .footer-menu p {
    color: #FFF;
    font-size: 15px; }
    .footer-menu p span {
      color: #e85889;
      font-size: 15px; }

@media (max-width: 1285px) {
  footer .contact__container .icon {
    margin: 0 2rem; }
  footer .after::after {
    display: none; }
  .footer-menu ul {
    width: 100%; } }

@media (max-width: 900px) {
  footer .contact__container .icon {
    margin: 0 0.5rem; }
  footer .after::after {
    display: none; }
  .footer-menu ul {
    width: 100%; } }

@media (max-width: 768px) {
  footer .contact {
    display: block; }
  footer .contact__container {
    padding: 0.5rem 0; } }
